.center-container 
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MainForm
{
    width: 295px;
    justify-content: center;
    align-items: center;
}

.top-right 
{
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo {
  height: 90px;
  margin-bottom: 20px;
  margin-left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
.center-button 
{
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AdvanceLogo{
  height: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 10px;
  justify-content: left;
  display: flex;
}
.containerAd {
  display: flex;
  margin-left: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.labelAd {
  margin-bottom: 5px;
  margin-right: 55px;
}

.textboxAd {
  margin-left: 3px;
  height: 23px; /* Adjust the height as desired */
  width: 380px;
  border-color: #ccc;
  border-width: 1px;
  border-top-color: #ccc;
}
.mtable {
  display: flex;
  margin-left: 15px;
}

td{
  font-family: 'Arial';
  font-size: 15px;
}

td:first-child{
  width: 220px;
  height: 35px;
}

.line {
  border: none;
  border-top: 2px solid #ccc;
  margin: 10px 0;
}
.AdCeButton
{
  display: flex;
  justify-content: right;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 12px;
}